include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include tox.ini

graft tests
global-exclude __pycache__
global-exclude *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
