bumpversion==0.5.3
wheel==0.33.6
watchdog==0.10.2
flake8>=3.7,<4
tox>=3,<4
coverage>=5.0,<6
Sphinx>=1.8,<2
PyYAML>=5.3,<6
pytest==3.2.5
pytest-runner>=5.2,<6
gevent>=1.1,<2
graphene>=2.0,<3
django>=1.5,<3
channels>=1.0,<2
pytest-aiohttp
asyncmock; python_version<"3.8"
