[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
graphql-ws = {path = "./../..", editable = true}
channels = "*"
graphene-django = "*"

[requires]
python_version = "3.6"
